@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}


/*-- main --*/
body {
    font-family: "Open Sans";
    font-weight: 400;
    overflow-x: hidden;
}

a, a:hover {
    text-decoration: none;
}

h3 {
    color: #35bcd4;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 60px 0 50px;
}

/*-- header--*/
header {
    color: #fff;
    background: #1d2124;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
}

.menu-box {
    display: flex;
    flex: 0 0 700px;
    align-items: center;
}

.men-item {
    padding: 0 18px;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
}

section.content-wrap {
    background: #f2f2f2;
}

.latest-news-section {
    background: url("../img/header-bg.jpeg") bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 380px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    flex-wrap: wrap;
    align-content: center;
}

.latest-news-section h2 {
    font-size: 27px;
    width: 100%;
    margin-bottom: 44px;
    text-align: center;
    text-transform: uppercase;
}

.btn-pimary {
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 3px;
    width: 170px;
    height: 55px;
    margin: 0 10px;
    color: #fff;
}

.btn-green {
    background: #89ca62;
}

.btn-blue {
    background: #14b9d5;
}

/*blog section*/
.blog-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 830px;
    justify-content: flex-start;
    align-content: center;
}

.post-item {
    margin: 0 15px 16px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.post-caption {
    padding: 20px 30px 22px;
    background: #fff;
}

/* clients section*/
.clients_wrap {
    background: url("../img/parallax-bg.jpeg") top no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 588px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 60px 0;
    justify-items: center;
    align-items: center;
}

.clients_wrap h2 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 55px;
    color: #fff;
    align-self: end;
}

.clients_wrap h2:before {
    content: '';
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    position: absolute;
    left: calc(50% - 30px);
    bottom: 0;
}

.clients-item {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(4, auto);
    grid-gap: 0px 35px;
    align-items: center;
    align-self: start;
}

/*top rated section*/
.galery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.galery-item img {
    width: 100%;
}

/*HOT NEWS*/
.news-wrap {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1168px);
}

.news-inner {
    display: grid;
    grid-column-gap: 35px;
    /*grid-template-rows: repeat(2, 260px);*/
    grid-template-columns: repeat(1, 3fr 1fr);
    overflow-y: hidden;
    margin: 21px 0;
}

.galery-post {
    text-align: right;
    padding: 40px 24px 36px 30px;
    font-size: 14px;
    line-height: 20px;
}

.galery-caption {
    font-size: 18px;
    font-weight: 700;
}

.galery-post .galery-caption {
    margin-bottom: 22px;
}

.news-img-prev .galery-caption {
    padding: 14px;
    text-align: center;
}

.news-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.reverse {
    grid-template-columns: repeat(1, 1fr 3fr);
}

.news-wrap img {
    /*height: 100%;*/
    object-fit: cover;
}

.news-inner > .news-item {
    grid-column: 1;
}

.news-inner > .news-img-prev {
    grid-column: 2;
    grid-row: 1; /* NEW */
}

.reverse > .news-item {
    grid-column: 2;
}

.reverse > .news-img-prev {
    grid-row: 1;
    grid-column: 1;
}

.post-bg {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    background-color: #f9f7f7;
}

.news-img-prev img {
    width: 100%;
}

.news-col2-inner {
    display: grid;
    grid-gap: 42px 60px;
    grid-template-columns: repeat(2, 2fr);
    overflow-x: hidden;
}

.news-col2-inner .galery-post {
    padding: 8px 22px 22px;
}

/*footer*/
footer {
    background: #1d2124;
    height: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1168px);
}

.grid-footer {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 110px;
    color: #fff;
    font-size: 13px;
}

.grid-footer img {
    justify-self: end;
}

#go_up-btn {
    display: none;
    width: 50px;
    height: 50px;
    background-color: #14b9d5;
    color: #fff;
    text-align: center;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    font-weight: 700;
    border: none;
}

#go_up-btn:focus {
    outline: none;
}

#slideToggle{
    margin: 40px auto 0;
    display: block;
}