.price-input {
    border: 1px solid #2f2f2f;
    padding: 8px 15px;
    border-radius: 5px;
    width: 150px;
}

.price-label {
    display: inline-block;
    margin-right: 10px;
}

.validate-input {
    border-color: brown;
}

.price-input-error {
    color: brown;
}

body {
    font-family: Arial;
}

.added-price {
    display: inline-block;
    margin-bottom: 12px;
    border: 1px solid #333;
    padding: 8px 15px;
    color: #333;
    border-radius: 15px;
}

.price-box {
    display: none;
}

small {
    border-radius: 50px;
    padding: 4px 6px;
    border: 1px solid #333;
    color: #333;
    font-size: 9px;
    position: relative;
    top: -2px;
    right: -3px;
}
